<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="https://colorado.edu/lab/medlab">Media Economies Design Lab</a></li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
        <ul class="social-media-list">
          {% if site.gitlab_username %}
          <li>
            {% include icon-gitlab.html username=site.gitlab_username %}
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">

      </div>

      <div class="footer-col footer-col-3">
        <p style="text-align:right;">{{ site.description }}</p>
        <p style="text-align:right;">Help improve CommunityRule by <br />posting an <a href="https://gitlab.com/medlabboulder/communityrule/-/issues">Issue</a> or <a href="https://gitlab.com/medlabboulder/communityrule">editing the source directly</a>,<br />
        or donate <a href="https://opencollective.com/communityrule">on Open Collective</a></p>
        <p style="text-align:right;"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a></p>
      </div>
    </div>

  </div>

</footer>
