---
layout: guide
title: Module documentation
permalink: /guides/modules/
---

<p>
  These are the present modules currently available for authoring a
  Rule. Press the icon next to a module's name for details about
  it. Not all entries are
  complete. Please <a href="mailto:medlab@colorado.edu">write to
  us</a> with suggestions for additional modules or improvements to
  existing ones.
</p>

        {% assign modules_array = site.modules | sort: "type" %}
        {% assign last_type = "" %}
        {% for module in modules_array %}
        {% if module.layout == "module" %}
        {% if module.type != last_type %}
        {% if last_type != "" %}</div>{% endif %} 
      <div class="module-type-header">
        <img src="{{ site.baseurl }} {{ site.data.module_types[module.type].icon }}" />
        {{ module.type }}
      </div>
      <div class="module-questions">{{ site.data.module_types[module.type].question }}</div>
      <div id="module-type-{{ module.type }}">
        {% endif %}
        {% assign last_type = module.type %}
		<span class="module" id="module-{{ module.title | slugify }}"
			  draggable="true" ondragstart="drag(event)" ondragend="dragEnd()">
		  <span id="module-name" title="{{ module.summary }}">{{ module.title }}</span>
          <a href="{{ module.url }}">
            <img title="More info" draggable="false" class="module-logo"
                 src="{% link assets/tabler_icons/info-circle.svg %}" />
          </a>
		  <a onclick="this.parentNode.remove()" class="delete-module"
			 style="display:none">
			<img src="{% link assets/tabler_icons/x.svg %}" /></a>
		</span>
        {% endif %}
        {% endfor %}
      </div>
