<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-app rule-app">
      {%- include vue-rule-script.html -%}
    </div>

    {% include footer.html %}

  </body>

</html>
